
.coverContainer {
    background-image: url('../assets/cover2.jpg');
    
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.6); 
    background-blend-mode: multiply;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.coverContainer .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  animation: infoAnimated 0.8s ease-in-out forwards;
}
.coverContainer .info h2{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.coverContainer .info p{
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.coverContainer .info button{
  text-transform: uppercase;
    background: transparent;
    border: 1.5px solid #ffc107;
    margin-top: 1.5em;
    color: white;
    padding: 0.5em 2em;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.coverContainer .info button:hover{
  background-color: #ffc107;
  border-color: white;
  color: black;
}

/* animation */
@keyframes infoAnimated{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

/* responsive */
@media only screen and (max-width: 800px) {
  .coverContainer .info{
    width: 90%;
  }
}