
<html>
<head>
    <link rel="stylesheet" href="../style/cover.css">
</head>
<body>
   <div class="coverContainer" >
    <div class="info">
        <h2>LIBRARIO MATE</h2>
        <p>The library, a realm of books, offers endless adventures through its shelves, inviting minds to explore, imagine, and discover within its boundless pages</p>
        <button>explore</button>
    </div>
   </div>
      
</body>
</html>