<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/Navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="../style/message.css">
</head>
<body>
  <div class="message" ></div>
  <% if (typeof message !== 'undefined') { %>
    <script>
    function showMessage(message) {
      if(message){
       const messageDiv = document.querySelector('.message');
         messageDiv.textContent = message;
         messageDiv.innerHTML=`<p>${message}</p><i class="fa-solid fa-check"></i>`;
         
         messageDiv.classList.add('activeAlert'); // Fix: Use classList.add() instead of assigning
         setTimeout(() => {
           messageDiv.classList.remove('activeAlert');
         }, 3000);
        }
     }
     setTimeout(()=>{
        showMessage('<%= message %>'); // This will call showMessage function with the 'message' variable from EJS
     },10)
    </script>
  <% } %>
    <nav class="navbar">
      <a href="/" >
        <h3 class="navbar-title">Librario Mate</h3>
      </a>
        <a class="small-screen open">
         <i></i>
        </a>
        <div class="navbar-links ">
         <a class="close">
          <i></i>
         </a>
          <ul class="big-screen">
            <li><h4>Librario Mate</h4></li>
            <li><a class="link active"  href="#">Home</a></li>
            <li><a class="link" href="#">About</a></li>
            <li><a class="link" href="#">Profile</a></li>
            <li><a class="link" href="#">Sign Out</a></li>
          </ul>
        </div>
      </nav>
      
      <script>
       const link = document.querySelectorAll(".link");
      const navLink=document.querySelector(".navbar-links")
       const open=document.querySelector(".open")
       const close=document.querySelector(".close")

       open.addEventListener("click",()=>{
        navLink.classList.add("link-show")
        navLink.classList.remove("link-hide")
       })
       close.addEventListener("click",()=>{
        navLink.classList.add("link-hide")
        navLink.classList.remove("link-show")
       })
const handleActive = (val) => {
  link.forEach((item, index) => {
    if (val === index) {
      item.classList.add("active");
    } else {
      item.classList.remove("active");
    }
  });
};

link.forEach((item, index) => {
  item.addEventListener("click", () => {
    handleActive(index);
  });
});
</script>     
</body>
</html>