<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/PopulerBook.css">
</head>
<body>
    <div class="populerContainer">
      <h2>Populer Movie</h2>
      <hr>
      <div class="cardContainer">
        <a href="#" class="card">
            <img src="../assets/Books/book1.jpg" alt="">
            <div class="cardtext">
                <p class="title">This is title</p>
                <p class="author">Author Author </p>
                <p class="rating">*****</p>
            </div>
        </a>
        <a href="#" class="card">
            <img src="../assets/Books/book1.jpg" alt="">
            <div class="cardtext">
                <p class="title">This is title</p>
                <p class="author">Author Author </p>
                <p class="rating">*****</p>
            </div>
        </a>
        <a href="#" class="card">
            <img src="../assets/Books/book1.jpg" alt="">
            <div class="cardtext">
                <p class="title">This is title</p>
                <p class="author">Author Author </p>
                <p class="rating">*****</p>
            </div>
        </a>
        <a href="#" class="card">
            <img src="../assets/Books/book1.jpg" alt="">
            <div class="cardtext">
                <p class="title">This is title</p>
                <p class="author">Author Author </p>
                <p class="rating">*****</p>
            </div>
        </a>
      </div>
    </div>
</body>
</html>