<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whishlist</title>
    <link rel="stylesheet" href="../style/wishlist.css">
</head>
<body>
    <%- include('Navbar.ejs') %>
    <div class="wishlist_container">
        <h2 class="title">Purchase book</h2>
        <div class="wishlist_card">
            <div class="wishlist_card_image">
                <img src="../assets/Books/1702215554746-sneakers.jpg" alt="" loading="lazy">
            </div>
            <div class="wishlist_card_info">
                <h2 class="book_title">Best Buy sneaker Book</h2>
                <p class="book_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, enim explicabo repellendus saepe dicta architecto. Nihil qui deleniti repellat consectetur rerum velit error, veritatis molestiae corrupti? Doloribus sit quos saepe.</p>
                <div class="author_rating">
                    <p class="authour"> <b>Author: </b>  john doe</p>
                    <p class="rating">
                        <b>rating:</b>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                </div>
                <div class="buy_date">Purchase Date : 22/12/2013</div>
            </div>
        </div>
        <div class="wishlist_card">
            <div class="wishlist_card_image">
                <img src="https://images.meesho.com/images/products/325500823/onb6s_512.webp" alt="" loading="lazy">
            </div>
            <div class="wishlist_card_info">
                <h2 class="book_title">Best Buy sneaker Book</h2>
                <p class="book_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, enim explicabo repellendus saepe dicta architecto. Nihil qui deleniti repellat consectetur rerum velit error, veritatis molestiae corrupti? Doloribus sit quos saepe.</p>
                <div class="author_rating">
                    <p class="authour"> <b>Author: </b>  john doe</p>
                    <p class="rating">
                        <b>rating:</b>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                </div>
                <div class="buy_date">Purchase Date : 22/12/2013</div>
            </div>
        </div>
    </div>
</body>
</html>